# Database Configuration
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=qonto_swarm_development

# Rails Configuration
RAILS_ENV=development
RAILS_MASTER_KEY=
SECRET_KEY_BASE=
PORT=3100

# Forest Admin
FOREST_ENV_SECRET=
FOREST_AUTH_SECRET=