DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_API_NAME=mini_qonto_api_development
DB_CARD_CLAIM_NAME=mini_qonto_card_claim_development
DB_COMPANY_MONITORING_NAME=mini_qonto_company_monitoring_development
DB_BILLER_NAME=mini_qonto_biller_development
DB_TEST_NAME=mini_qonto_test
DB_PRODUCTION_NAME=mini_qonto_production
RAILS_MAX_THREADS=5
FOREST_ENV_SECRET=739c0ca5a3bfe5cf8ef42e13fbfe051c30951db7e1d3d79c21f82e571
FOREST_AUTH_SECRET=739c0ca5a3bfe5cf8ef42e13fbfee51c30951db7e193d79c21f82e5715
FOREST_SERVER_URL=https://api.development.forestadmin.com
